{% extends "base.html" %}

{% block title %}
{{title}}
{% endblock title %}



{% block content %}
<div class="container-fluid" style="background: url('https://img.freepik.com/premium-photo/website-internet-contact-us-page-concept-with-phone-email-mail-icons-hotline-support-contact-communication-concept-wide-panorama-view-sign-mail-mobile-phone-icons-copy-space_256259-1518.jpg?w=2000'); background-position: center;	background-repeat: no-repeat; background-size: cover; height: 100vh; text-align: center; align-items: center; display: flex; justify-content: center; font-size: 50px; color: rgb(103, 95, 95);">
	<!-- <div class="container" style= height: 100;"> -->
		<!-- <p> -->
			Ecommerce website created using Django and using mySQL database as project for ITW2
		<!-- </p> -->
	<!-- </div> -->
</div>
{% endblock content %}